body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

h1, h2  {
    font-family: 'PT Sans', sans-serif;
    margin: 5px;
}

a {
    text-decoration: none;
}

form {
    margin-left: 20px;
}

.new-user-btn {
    display: flex;
    background-color: grey;
    font-size: 1.1rem;
    border-radius: 5px;
    height: 45px;
    width: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px rgb(33, 33, 33);
    margin-top: 5px;
}

.new-user-btn a:link {
    color: white;
}

.new-user-btn a:visited {
    color: white;
} 

.green-btn {
    background-color:rgb(43, 189, 104);
    color: white;
    border: none;
    height: 45px;
    width: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgb(33, 33, 33);
    margin-top: 5px;
}

input {
    height: 20px;
    margin-top: 0px;
}






