{% extends 'base.html' %}


{% block title %} Edit User {% endblock %}


{% block content %}

<h1>Edit a user</h1>

<form action="/users/{{ user.id }}/edit" method="POST">
    <p>
        <label for="first-name">First Name</label>
    </p>
    <input type="text" id="first-name" name="first-name" value="{{user.first_name}}">

    <p>
        <label for="last-name">Last Name</label>
    </p>
    <input type="text" id="last-name" name="last-name" value="{{user.last_name}}">

    <p>
        <label for="img-URL">Image URL</label>
    </p>
    <input type="text" id="img-url" name="img-url" value="{{user.image_url}}">

    <a class="cancel-btn" href="/users">Cancel</a>
    <!--could make this a button like the others-->
    <button class="green-btn">Save</button>
</form>


{% endblock %}