{% extends 'base.html' %}


{% block title %} Edit User {% endblock %}


{% block content %}

<h1>Edit a user</h1>

<form action="/users/{{ user.id }}/edit" method="POST">
    <label for="first-name">First Name</label>
    <input type="text" name="first-name" value="{{user.first_name}}"> <!--add id-->
    <label for="last-name">Last Name</label>
    <input type="text" name="last-name" value="{{user.last_name}}"> <!--add id-->
    <label for="img-URL">Image URL</label>
    <input type="text" name="img-url" value="{{user.image_url}}"> <!--add id-->

    <a class="cancel-btn" href="/users">Cancel</a> <!--could make this a button like the others-->
    <button class="green-btn">Save</button>
</form>


{% endblock %}