{% extends 'base.html' %}


{% block title %} User Detail {% endblock %}


{% block content %}

<img id="profile-pic" src="{{ user.image_url }}" alt="profile picture here">

<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<!-- old way we did it -->
<!-- <a class="edit-btn" href="/users/{{ user.id }}/edit">Edit</a> -->

<form>
    <button formaction="/users/{{ user.id }}/edit" formmethod="GET">Edit</button>
    <button formaction="/users/{{ user.id }}/delete" formmethod="POST">Delete</button>
</form>

<div>
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <a href="/users/{{ user.id }}/posts/new"></a>
    
</div>


{% endblock %}